#library
  h2 Music Library

  table.datatable
    thead
      th Artist
      th Title
      th File
    - each song in songs
      tr(id=song.uid)
        td= song.artist || "?"
        td= song.title || "?"
        td= song.filename

  script
    var cols = [
      "artist"
    , "title"
    , "filename"
    ];

    $(function(){

      var dt = $(".datatable").dataTable({
      });

      $('.artist').live('click', function(){
        var item = $(this);
        dt.fnFilter(item.text());
      });

      var url = "!{ '/user/' + user.nick + '/update' }";

      $('td', dt.fnGetNodes()).editable(url, {
        'callback': function(val, y){
          var pos = dt.fnGetPosition(this);
          dt.fnUpdate(val, pos[0], pos[1]);
        },
        'submitdata': function(value, settings){
          return {
            'id': this.parentNode.getAttribute('id')
          , 'field': cols[dt.fnGetPosition(this)[2]]
          , 'oldvalue': value
          };
        }
      });
    });

